.profileImage img {
  max-width: 100%;
}

.paper hr {
  margin-top: 10px;
  max-width: 50%;
  margin-bottom: 10px;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 2px;
}

.profileDetails {
  text-align: center;
}

.profileDetails a:hover {
  text-decoration: none;
}

.paper {
  text-align: center;
}

.paper h6 {
  margin-bottom: 20px;
  text-align: center;
}

.text {
  color: rgb(79, 85, 83);
}
